nav{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 15px;

        a{
            margin: 0px 10px;
            text-decoration: none;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: bold;

            &:hover{
                color: #4e5452;
            }
        }
    }
